<hlm-dialog>
      <button hlmBtn brnDialogTrigger variant="ghost" class="px-6 py-2 font-display tracking-[0.2em] text-sm uppercase text-[#C5A059] border border-[#332B1A] bg-black hover:bg-[#111] hover:border-[#C5A059] hover:shadow-[0_0_15px_rgba(197,160,89,0.3)] transition-all duration-300 rounded-none">
        Ingresar
      </button>

      <hlm-dialog-content class="w-[95vw] sm:max-w-[900px] h-auto max-h-[90vh] rounded-none border-[4px] border-[#332B1A] bg-[#0A0A0A] shadow-2xl shadow-black/80 p-0 overflow-y-auto overflow-x-hidden flex flex-col md:flex-row gap-0" *brnDialogContent="let ctx">
        
        <div class="absolute inset-0 bg-[url('https://www.transparenttextures.com/patterns/stardust.png')] opacity-20 pointer-events-none z-0"></div>

        <button hlmBtn variant="ghost" size="icon" hlmDialogClose class="absolute right-4 top-4 z-20 rounded-none bg-black border border-[#C5A059] text-[#C5A059] hover:bg-[#C5A059] hover:text-black transition-colors">
          <ng-icon hlm name="lucideX" size="sm"></ng-icon>
        </button>

        <app-login-marketing class="w-full md:w-5/12 flex-shrink-0 z-10 border-r border-[#332B1A]"></app-login-marketing>

        <app-login-form-content
          class="w-full md:w-7/12 z-10"
          [motar]="motar()"
          (toggleMode)="toggleMode()"
          (loginSubmit)="handleLogin($event)"
        ></app-login-form-content>
      </hlm-dialog-content>
    </hlm-dialog>
